<html>
    {% include standard-head.html %}
  <body>

    <div id="main">
      <header>
        <h1 id="title"><a href="/">Erik Hallmark</a></h1>
      </header>
      

      <hr>

      <div id="content">
        {{ content }} 
      </div>

      <footer>

        <ul id="social-links">
          {% for social in site.data.social %}
        
            <li class="social-link">
              <a href="{{ social.url }}" title="{{ social.username }}" target="_blank">{{ social.sitename }}</a>
            </li>

          {% endfor %}
        </ul>

      </footer>
    </div>
  </body>
</html>
